html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
}

body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #e0e0e0;
}

header {
    margin-left: 15%;
    border-bottom: 1px solid #00000054;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 11%;
    padding-bottom: 15px;
}

nav {
    margin-left: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-container {
    margin-left: 15%;
    /* margin-right: 5%; */
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24 24 24);
    color: #e0e0e0;
}

.contact-container {
    margin-left: 15%;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 17px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #0000001c;

}

.show {
    display: flex;
}

.showing {
    background-color: black;
    color: #e0e0e0;
}

.content-grid-container {
    margin-left: 15%;
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}

.filter-title {
    margin-right: 10px;
    font-size: .75em;
    color: rgb(228 86 18);

    /* font-style: italic; */
}

.contact-title {
    margin-right: 10px;
    font-size: .75em;
    color: rgb(228 86 18);
    font-weight: 400;
}

.filter-item {
    margin-right: 10px;
}

h1 {
    font-family: 'Chivo', sans-serif;
    margin: 0 0;
    padding: 0 0 0 0;
}

h2 {
    font-family: 'Chivo', sans-serif;
    font-size: 1.05em;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 8px 0 0 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 300;
    margin: 0 0;
    line-height: 1.5em;
}

.contact-link {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 300;

}

#about-text {
    font-size: .9em;
    text-align: justify;
    margin: 30px 30px;

}

a {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    /* padding: 1px 1px; */
}

a:hover {
    background-color: black;
    color: #e0e0e0;
    /* border-bottom: 1px solid black; */
}

#about-pic {
    width: 50%;
    /* margin-right: 20px; */
}